<div id="flash">
  <%
    flash.each do |msg_type, message|
      partial = msg_type.to_s == "notice" ? "success" : "error"
  %>
    <%= render partial: "layouts/shared/flash_#{partial}", locals: { message: message } %>
  <% end %>
</div>
