<section class="py-26 bg-white">
  <div class="container px-4 mx-auto">
    <div class="max-w-4xl mx-auto mb-12 text-center">
      <p class="text-xl font-bold text-gray-400 mb-2">Updated April 5, 2024</p>
      <h1 class="text-3xl md:text-4xl font-extrabold font-heading mb-4">Terms of Service</h1>
    </div>
    <div class="max-w-4xl mx-auto">
      TBD
    </div>
  </div>
</section>
