  <a href="/" class="flex flex-row items-center align-middle">
    <%= inline_svg_tag "mark.svg", class: "h-8 flex-shrink-0", alt: App.config.application_name %>
    <span class="self-center text-2xl font-semibold whitespace-nowrap">
      sweep<span class="text-blue-600">easy</span>
    </span>
  </a>
